
#container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
}

.square {
    box-sizing: border-box;
    border: 1px solid #000;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fffaf0;
}

#reset-btn{
    padding: 12px;
}